.divFooterMain {
	padding: 0 16px;
	height: 96px;
	background-color: var(--background);
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
@media screen and (min-width:744px){
	.divFooterMain {
		padding: 0 26px;
		height: 56px;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 1fr;
	}
}

.divFooterLogo {
	height: 64px;
	/* position: relative;
	float: left;
	width: 50%; */
}

.divFooterIcons {
	/* position: relative;
	float: right; */
	width: 100%;
	max-width: 110px;
	display: flex;
	color: var(--primary);
	justify-content: center;
     gap: 17px;
 	height: 24px;
	justify-self: right;
	align-self: flex-end;
	margin-bottom: 14px;
}

.copyrightFooter {
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: center;
	align-self: center;
	display: inline;
	text-align: center;
	width:100%;
	align-items: center;
	justify-content: center;
	color: var(--outlined);
}
@media screen and (min-width:744px){
	.copyrightFooter {
		grid-row-start: 1;
		grid-column-start: 2;
	grid-column-end: 3;
	}
}
