.noMargin{
	margin: 0;
}
.profileContainer {
	margin: 12px auto;
	max-width: 360px;
	background-color: var(--background); 
	height: 75vh; 
}
.fieldContainer{
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: start;
	
}
.profileUser {
	padding: 2px;
}

.profileCloseButton {
	margin-top: 70px;
	display: flex; 
	flex-direction: row-reverse;
}