.navBar{
  
    padding: 0;
    padding-right: 16px;
    height: 56px;
    background-color: var(--background);
 
}
.navBarLogo{
    max-width: 200px;
    height: 100%;
    width: 100%;
}
.navBarItemsContainer{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1108px;
    display: flex;
    justify-content: space-between;
}

.navMenuMobile{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    gap: 23px;
}
@media screen and (min-width:744px){
    .navMenuMobile{
        display: none;
    }
}
.navMenuMedium{
    color: var(--primary);
    width: 100%;
    max-width: 350px;
    padding: 0;
    margin: 0;
    height: 100%;
    display: none;
    gap: 23px;
}
@media screen and (min-width:744px){
    .navMenuMedium{
        display: flex;
    }
}
.navMenuLarge{
    color: var(--primary);
    width: 100%;
    max-width: 220px;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    gap: 23px;
}
.searchBar{
    width: 100%;
    flex-grow: 4;
    display: none;
}
.navLarge{
    width: 100%;
    max-width: 220px;
    display: none;
    
}
@media screen and (min-width:1000px){
    .navMenuMedium{
        display: none;
    }
    .navLarge{
        display: flex;
    }
    .searchBar{
        display: block;
        padding: 11px 0;
    }
    
}
.navMenuItem{
    cursor: pointer;
    width: 100%;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.navMenuItem:hover{
   color: var(--primary-hover);
}