.filterBoxNew {
	margin: 0;
	padding: 0 10px;
	display: block;
}

.filterGenreBoxA {
	margin: 0;
	padding: 0 10px;
	display: block;
	flex-direction: column-reverse;
	float: left;
}

.filterGenreBoxB {
	margin: 0px 22px;
	padding: 0px 6px;
	display: block;
	flex-direction: column-reverse;
	height: 5px;
	float: right;
}

.filterButton {
	margin: 0 29px;
	padding: 0;
	display: block;
}

.checkBox {
	background-color: var(--primary);
}