.red{
	margin: 0;
	text-align: right;
	color: var(--error);
}
.mainDiv{
	position: absolute;
width: 100%;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
     height: 100vh;
	background-color: rgba(58, 58, 58, 0.575);
	
	
}
.mainForm{
	
	padding: 0 16px;
background-color: var(--background);
}
.mailForm {
	font-family: inherit;
	color: var(--outlined);
	align-items: flex-start;
	resize: none;
	width: 100%;
	height: 37px;
	background: none;
	border: 1px solid var(--outlined);
	border-radius: 8px;
  }
.mailForm:focus{
	border-color: var(--accent);
	outline: none;
}
.passRecoveryLink {
	font-family: inherit;
	color: var(--outlined);
}

.enterButton {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.regButton {
	display: flex;
	align-items: baseline;
	float: right;
}
.registerForm {
	cursor: pointer;
	margin: 0px 5px;
	background-color: transparent;
	color: var(--primary);
	border: transparent;
}
.registerForm:hover{
color: var(--primary-hover);
}