.openButton {
	margin: 0px 5px;
	background-color: transparent;
	color: var(--text);
	border: transparent;
}


.closeButtonGenre {
	margin: 240px 30px;
	padding: 0;
	display: block;
}

.closeButtonYear {
	margin: -34px 60px 2px;
	padding: 0;
	display: block;
}
