.divFooterMain {
	display: flex;
	width: 100%;
}

.divFooterLogo {
	float: left;
	width: 50%;
}

.divFooterIcons {
	float: right;
	width: 50%;
	display: flex;
	color: var(--secondary);
	justify-content: space-around;
	height: 100px;
}

.copyrightFooter {
	color: var(--outlined);
}
