.logo{
    place-self: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 190px;
    max-height: 64px;
}
.icon{
    place-self: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.icon{
    place-self: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 28px;
    max-height: 28px;
}
.social_media{
    place-self: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
}
.platform{
    place-self: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
   
}
.platformIcon{
    place-self: center;
    cursor:default;
	border-style: none;
	width: 100%;
height: 32px;
	background-color: var(--background-secondary);
	border-radius: 6px;
}
.seen{
    place-self: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 38px;
    max-height: 30px;
}
.save{
    place-self: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 30px;
    max-height: 40px;
}