.logo{
    width: 100%;
    height: 100%;
    max-width: 190px;
    max-height: 64px;
}
.icon{
    width: 100%;
    height: 100%;
    max-width: 19px;
    max-height: 19px;
}
.social_media{
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
}