.logo{
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 190px;
    max-height: 64px;
}
.icon{
    place-self: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
}
.social_media{
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
}
.platform{
    cursor: pointer;
    width: 100%;
    height: 100%;
   
}
.platformIcon{
    cursor:default;
	border-style: none;
	width: 100%;
height: 32px;
	background-color: var(--background-secondary);
	border-radius: 6px;
}