.titleContainer{
  display: flex;
  justify-content: space-evenly;
}
.titleWrapper{
  width: 100%;
  text-align: right;
}
.title{
  margin-right: 110px;
}
@media screen and (min-width:744px){
  .title{
    margin-right: 265px;
  }
}
@media screen and (min-width:1108px){
  .title{
    margin-right: 460px;
  }
}
@media screen and (min-width:1465px){
  .title{
    margin-right: 635px;
  }
}
.spacer{
  height: 10;
  width: 328px;
}
.divSectionContainer{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.divCardContainer {
  min-height: 80vh;
  margin: 24px auto 40px auto;
  width: 100%;
  max-width: 1500px;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--background);
}
.login{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}