.noMargin{
    margin: 0;
}
.mainContainer{
    padding: 0 16px;
}
.detailsContainer{
    margin-bottom: 50px;
    display: flex;
flex-direction: column;
gap: 40px;

}
.title{
    margin: 24px 0;
}
.cardContainer{
    display: flex;
    justify-content: center;
}
