.logo {
  place-self: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-width: 190px;
  max-height: 64px;
}
.icon {
  place-self: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
}
.social_media {
  place-self: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
}
.platform {
  place-self: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.platformIcon {
  place-self: center;
  cursor: default;
  border-style: none;
  width: 100%;
  height: 32px;
  background-color: var(--background-secondary);
  border-radius: 6px;
}
.seen {
  place-self: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-width: 38px;
  max-height: 30px;
}
.seen {
  place-self: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
}
.save {
  place-self: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 40px;
}
.saved {
  place-self: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
}

.loaderContainer {
  width: 180px;
  height: 180px;
}


.loaderMain {
  color: #fff;
  padding: 0 18px;
  background: linear-gradient(158.08deg, #b9b9b9 0%, rgba(51, 51, 51, 0) 100%);
  background-size: 400% ;
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 517px;
  border-radius: 8px;
  animation: charge 0.8s ease infinite;
}


@keyframes charge {
  0%{
    background-position: 0%;
  }
  50%{
    background-position: 100%;
  }
  100%{
    background-position: 0%;
  }
}