.margin{
    margin: 0;
}
.commentsSectionContainer{
  margin: 0 auto;
  max-width: 1105px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.comment::after {
    display: block;
    content: "";
    height: 1px;
    background-color: var(--background-secondary);
    width: 100%;
    
  }
  .userCommentSection{
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
  }
  .commentsForm{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .commentsInput{
    font-family: inherit;
    color: var(--text);
    width: 100%;
    max-width: 200px;
    height: 25px;
    background:none;
    border: 1px solid var(--outlined);
border-radius: 8px;
  }
  .commentsTextArea{
    resize: none;
    font-family: inherit;
    color: var(--text);
    width: 100%;
    max-width: 660px;
    height: 106px;
    background:none;
    border: 1px solid var(--outlined);
border-radius: 8px;
  }
  .commentsInput:focus, .commentsTextArea:focus{
    border-color: var(--accent);
    outline: none;
  }
  .commentsSubmitButton{
    place-self: end;
  }